<div class="row">
    <div class="col-md-7">
        <div class="c-content-panel">
            <div class="c-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item" id="videoContainer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="c-content-panel">
            <ul id="recent-playlist" class="c-content-recent-posts-1"></ul>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/js")
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script>
        jQuery(document).ready(function () {
            Shine.init();
        });
    </script>
}


